<main class="centered-content padded-content">

  <app-authenticated-header></app-authenticated-header>
  <header class="mb-2">
    <span>
      <a routerLink="../.." cta="tertiary"> Back to home dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Back to project details</a>
    </span>
  </header>

  <h1 class="mb-2 h2">Participants</h1>

  <div class="mt-2 card-container">
    <div *ngFor="let participant of participants$ | async" class="card">
      <h5 class="mb-1">
        {{ participant.firstName }} {{ participant.lastName }}
      </h5>
      <a class="block" [routerLink]="[participant.id]">Check details</a>
    </div>
  </div>
</main>
