:host {
  display: block;
  background-color: var(--primary-transparent-color);
  color: var(--text-color-on-background);
  padding: var(--space-2);
  border-radius: var(--space-3);
}

.content-area {
  flex-grow: 1;
}
.default-area {
  min-width: 7em;
}
