@import "../../../../breakpoints.scss";

.booking:not(:last-child) {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: var(--space-1);
}

.date-badge {
  padding: var(--space-1);
  background-color: var(--secondary-transparent-color);
  color: var(--text-color-on-background);
  font-weight: bold;
  border-radius: var(--space-1);
}

.info-container {
  flex-grow: 1;

  .link {
    padding-left: 0;
  }
}

.img-container {
  max-width: 60%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  @include non-desktop {
    max-width: 35%;
    max-height: 100px;
  }


}
