@import "../../../../breakpoints.scss";

.img-container {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-2);

  @include non-desktop {
    border-radius: 0;
  }

  img {
    max-width: 100%;
  }
}

.booking-type {
  color: var(--secondary-color);
}

.dates {
  padding: var(--space-1);
  background-color: var(--neutral-transparent-color);
  border-radius: var(--space-2);

  @include non-desktop {
    border-radius: 0;
  }
}
