<main class="centered-content padded-content">
  <app-authenticated-header></app-authenticated-header>
  <header class="mb-2">
    <span>
      <a routerLink="../../.." cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Itinerary</a>
    </span>
  </header>

  <article *ngIf="booking$ | async as booking">
    <h1 class="h2 mb-1">
      <div class="flex space-between">
        <span class="mr-1">{{ booking.type }}</span>
        <span>{{ booking.provider }}</span>
      </div>
    </h1>

    <div *ngIf="booking.image" class="img-container">
      <img [src]="booking.image" />
    </div>

    <div class="mt-2">
      <div class="tab-controls">
        <a
          cta="outlined"
          [routerLink]="['./']"
          [class.active]="appRouter.isRouteActive('general')"
          >General info</a
        >
        <a
          cta="outlined"
          [routerLink]="['participants']"
          [class.active]="appRouter.isRouteActive('participants')"
          >Participants</a
        >
      </div>
      <router-outlet></router-outlet>
    </div>
  </article>
</main>
