<main class="centered-content padded-container">
  <app-authenticated-header></app-authenticated-header>
  <header class="mb-2">
    <span>
      <a routerLink="../../.." cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Itinerary</a>
    </span>
  </header>

  <article *ngIf="booking$ | async as booking" class="mobile-ml-1 mobile-mr-1">
    <div class="mb-2 flex column">
      <div class="flex align-center mb-2">
        <svg-icon
          [key]="booking.type | bookingType"
          class="mr-2 booking-type"
          size="xl"
        ></svg-icon>
        <a
          cta="outlined"
          [routerLink]="['../..', 'sharing', 'booking', 'send']"
        >
          Share booking</a
        >
      </div>

      <h1 class="h4 mb-1">
        {{ booking.provider }}
      </h1>

      <div class="dates small-text">
        <span> {{ booking.startDate | date }} {{ booking.startTime }} </span>
        <span> - </span>
        <span>{{ booking.endDate | date }} {{ booking.endTime }}</span>
      </div>
    </div>

    <div *ngIf="booking.image" class="img-container">
      <img [src]="booking.image" />
    </div>

    <div class="mt-2">
      <div class="tab-controls">
        <a
          cta="tertiary"
          [routerLink]="['./']"
          [class.active]="appRouter.isRouteActive('general')"
          >General info</a
        >
        <a
          cta="tertiary"
          [routerLink]="['participants']"
          [class.active]="appRouter.isRouteActive('participants')"
          >Participants ({{ booking.participants.length }})</a
        >
        <a
          cta="tertiary"
          [routerLink]="['reminders']"
          [class.active]="appRouter.isRouteActive('reminders')"
          >Reminders</a
        >
      </div>

      <div class="separator secondary mt-3 mb-2"></div>
      <router-outlet></router-outlet>
    </div>
  </article>
</main>
