<main class="centered-content padded-content">
  <app-authenticated-header></app-authenticated-header>
  <header class="mb-2">
    <span>
      <a routerLink="../../.." cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Itinerary</a>
    </span>
  </header>

  <article *ngIf="booking$ | async as booking">
    <h1 class="h2 mb-1">
      <div class="flex space-between">
        <span class="mr-1">{{ booking.type }}</span>
        <span>{{ booking.provider }}</span>
      </div>
    </h1>

    <div *ngIf="booking.image">
      <img [src]="booking.image" class="hero-image" />
    </div>

    <div class="mb-1">
      {{ booking.startDate }} {{ booking.startTime }} - {{ booking.endDate }}
      {{ booking.endTime }}
    </div>
  </article>
</main>
