<main class="centered-content padded-content">
  <app-authenticated-header></app-authenticated-header>
  <nav class="mb-2">
    <span>
      <a routerLink="../../.." cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Participants</a>
    </span>
  </nav>

  <article *ngIf="participant$ | async as participant">
    <ng-container>
      <header class="hero-header mb-3">
        <div class="img-container">
          <img src="/assets/avatar.jpg" />
        </div>

        <div class="ml-1 mb-2">
          <h1 class="mb-2 h3">
            {{ participant.firstName }} {{ participant.lastName }}
          </h1>

          <div class="flex align-center">
            <svg-icon
              key="star"
              size="lg"
              class="favorite-star"
              [class.active]="isFavorite(participant.id) | async"
            ></svg-icon>
            <button
              cta="outlined"
              class="ml-2"
              (click)="toggleFavorite(participant.id)"
            >
              <span *ngIf="!(isFavorite(participant.id) | async)"
                >Add to favorites</span
              >
              <span *ngIf="isFavorite(participant.id) | async"
                >Remove favorite</span
              >
            </button>
          </div>

          <div class="mt-3 flex align-center">
            <svg-icon key="share" size="lg"></svg-icon>
            <button cta="outlined" class="ml-2">Send itinerary</button>
          </div>
        </div>
      </header>
    </ng-container>

    <div class="mt-4">
      <div class="tab-controls">
        <a
          cta="tertiary"
          [routerLink]="['./']"
          [class.active]="appRouter.isRouteActive('contact')"
          >Contact</a
        >
        <a
          cta="tertiary"
          [routerLink]="['itinerary']"
          [class.active]="appRouter.isRouteActive('itinerary')"
          >Itinerary</a
        >
      </div>

      <div class="separator secondary mt-3 mb-2"></div>
      <router-outlet></router-outlet>
    </div>
  </article>
</main>
