<main class="centered-content padded-content">
  <app-authenticated-header></app-authenticated-header>
  <nav class="mb-2">
    <span>
      <a routerLink="../../.." cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Participants</a>
    </span>
  </nav>

  <article *ngIf="participant$ | async as participant">
    <header class="hero-header mb-3">
      <div class="img-container">
        <img src="/assets/avatar.jpg" />
      </div>
      <h1 class="h2 ml-1">
        {{ participant.firstName }} {{ participant.lastName }}
      </h1>
    </header>

    <router-outlet></router-outlet>
  </article>
</main>
