<main class="centered-content padded-container">
  <app-authenticated-header></app-authenticated-header>
  <!-- breadcrumbs -->
  <nav class="mb-2 mobile-ml-1 mobile-mr-1">
    <span>
      <a routerLink="../../.." cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">Participants</a>
    </span>
  </nav>

  <article
    *ngIf="participant$ | async as participant"
    class="mobile-ml-2 mobile-mr-1"
  >
    <header class="flex mb-4 mobile-mb-3 align-center">
      <div class="img-container mr-2">
        <img src="assets/avatar.jpg" />
      </div>

      <h1 class="h3">
        {{ participant.firstName }} {{ participant.lastName }}
      </h1>
    </header>

    <div class="card-container">
      <div class="flex align-center favorites">
        <svg-icon
          key="star"
          size="lg"
          class="favorite-star"
          [class.active]="isFavorite(participant.id) | async"
        ></svg-icon>
        <button
          cta="outlined"
          class="ml-2"
          (click)="toggleFavorite(participant.id)"
        >
          <span *ngIf="!(isFavorite(participant.id) | async)"
            >Add to favorites</span
          >
          <span *ngIf="isFavorite(participant.id) | async"
            >Remove favorite</span
          >
        </button>
      </div>

      <div class="mobile-mt-2 ml-2 mobile-ml-0 flex align-center sharing">
        <svg-icon key="share" size="lg"></svg-icon>
        <span class="flex">
          <a
            cta="outlined"
            class="ml-2"
            [routerLink]="['../..', 'sharing', 'itinerary', 'send']"
            [queryParams]="{ participant: participant.id }"
            >Send itinerary</a
          >
        </span>
      </div>
    </div>

    <div class="mt-4 mobile-mt-3">
      <div class="tab-controls">
        <a
          cta="tertiary"
          [routerLink]="['./']"
          [class.active]="appRouter.isRouteActive('general')"
          >General</a
        >
        <a
          cta="tertiary"
          [routerLink]="['itinerary']"
          [class.active]="appRouter.isRouteActive('itinerary')"
          >Itinerary</a
        >
      </div>

      <div class="separator secondary mt-3 mb-2"></div>
      <router-outlet></router-outlet>
    </div>
  </article>
</main>
