@import "../../../../breakpoints.scss";

:host {
  .mobile-actions {
    display: none;
  }

  & {
    @include phone {
      .mobile-actions {
        display: initial;
      }
      .desktop-action {
        display: none;
      }
    }
  }
}
.img-container {
  max-width: 50%;
  overflow: hidden;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include phone {
    max-width: 30%;
    align-self: flex-start;
  }

  img {
    max-width: 100%;
  }
}

.favorite-star.active {
  color: var(--secondary-color);
}
