.img-container {
  max-width: 50px;
  overflow: hidden;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.favorite-star.active {
  color: var(--secondary-color);
}
