.hero-header {
  display: flex;
}

.img-container {
  max-height: 200px;
  overflow: hidden;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
  }
}

.favorite-star.active {
  color: var(--secondary-color);
}