<main
  class="centered-content padded-container"
  *ngIf="project$ | async as project"
>
  <app-authenticated-header> </app-authenticated-header>

  <nav class="mb-2 mobile-ml-1 flex align-center">
    <a class="inline-flex align-center" routerLink="../" cta="tertiary">
      <span><svg-icon key="back" class="mr-1"></svg-icon></span>
      <span>Projects</span>
    </a>

    <span class="ml-1 mr-1"> / </span>

    <h1 class="bold h5">{{ project.name }}</h1>
  </nav>

  <div class="mobile-ml-1 mobile-mr-1 card-container wrap column">
    <div class="card mb-2 flex column">
      <div class="flex mb-1 align-center">
        <svg-icon
          key="itinerary"
          size="lg"
          class="mr-1 itinerary-icon"
        ></svg-icon>
        <h2 class="h3">Itinerary</h2>
      </div>

      <p class="mb-1">Keeps track of all bookings</p>

      <div class="flex wrap">
        <span class="mr-3">
          <a routerLink="itinerary" cta="tertiary" [queryParams]="getToday()">
            Today
          </a>
        </span>
        <span class="mr-3">
          <a routerLink="itinerary" cta="tertiary"> All </a>
        </span>
        <span class="mr-3">
          <a
            routerLink="itinerary"
            cta="tertiary"
            [queryParams]="getNextSeven()"
          >
            Next 7 days
          </a>
        </span>
        <span>
          <a
            routerLink="itinerary"
            [queryParams]="getPastSeven()"
            cta="tertiary"
          >
            Past 7 days
          </a>
        </span>
      </div>
    </div>

    <div class="card mb-2">
      <a routerLink="participants" cta="tertiary" class="align-center">
        <svg-icon key="people" class="mr-1"></svg-icon>
        <h2 class="h5">Participants</h2>
      </a>
      <p>A list of all people involved in the project</p>
    </div>

    <div class="card">
      <a routerLink="sharing" cta="tertiary" class="align-center">
        <svg-icon key="share-center" class="mr-1"></svg-icon>
        <h2 class="h5">Sharing center</h2>
      </a>

      <p>
        Keeps track of latest shared documents and sent emails through the app
      </p>
    </div>
  </div>
</main>
