<main class="centered-content padded-container">
  <app-authenticated-header> </app-authenticated-header>

  <div class="mb-2">
    <a class="mr-3 inline-flex align-center" routerLink="../" cta="tertiary">
      <span><svg-icon key="back" class="mr-1"></svg-icon></span>
      <span>Back to projects</span>
    </a>
  </div>

  <div *ngIf="project$ | async as project">
    <h1 class="mb-1 h2">{{ project.name }}</h1>

    <div class="flex">
      <div class="mr-3">
        <a routerLink="itinerary" cta="tertiary" class="align-center">
          <svg-icon key="itinerary" size="lg" class="mr-1"></svg-icon>
          <span>Itinerary</span>
        </a>
      </div>

      <div class="mr-3">
        <a routerLink="participants" cta="tertiary" class="align-center">
          <svg-icon key="people" class="mr-1"></svg-icon>
          <span>Participants</span>
        </a>
      </div>

      <div>
        <a routerLink="sharing" cta="tertiary" class="align-center">
          <svg-icon key="share-center" class="mr-1"></svg-icon>
          <span>Sharing center</span>
        </a>
      </div>
    </div>

    <section class="card mt-4">
      <h2 class="mb-3 h4 flex align-center">
        <span class="mr-1">
          <svg-icon key="heartbeat" size="xl" class="heartbeat-icon"></svg-icon>
        </span>

        <span>Heartbeat</span>
      </h2>
      <section class="mb-3 flex align-center">
        <h3 class="h5 mr-2">Past 7 days</h3>
        <div class="ml-1" *ngFor="let booking of pastBookings$ | async">
          <span class="mr-1">|</span>
          <a [routerLink]="['itinerary', booking.id]">{{ booking.provider }}</a>
        </div>
        <span class="ml-2">...</span>
      </section>

      <section class="mb-3 flex">
        <h3 class="h5 mr-2">Today</h3>
        <div class="ml-1" *ngFor="let booking of todayBookings$ | async">
          <span class="mr-1">|</span>
          <a [routerLink]="['itinerary', booking.id]">{{ booking.provider }}</a>
        </div>
        <span class="ml-2">...</span>
      </section>

      <section class="flex">
        <h3 class="h5 mr-2">Next 7 days</h3>
        <div class="ml-1" *ngFor="let booking of upcomingBookings$ | async">
          <span class="mr-1">|</span>
          <a [routerLink]="['itinerary', booking.id]">{{ booking.provider }}</a>
        </div>
        <span class="ml-2">...</span>
      </section>
    </section>
  </div>
</main>
