<main class="centered-content padded-content">
  <app-authenticated-header> </app-authenticated-header>

  <div class="mb-2">
    <a class="mr-3 inline-flex align-center" routerLink="../" cta="tertiary">
      <span><svg-icon key="back" class="mr-1"></svg-icon></span>
      <span>Back to projects</span>
    </a>
  </div>

  <div *ngIf="project$ | async as project">
    <h1 class="mb-1">{{ project.name }}</h1>

    <div>
      <a routerLink="itinerary" cta="tertiary">Itinerary</a>
    </div>

    <div>
      <a routerLink="participants" cta="tertiary">Participants</a>
    </div>
  </div>
</main>
