<main class="full-container centered-content padded-container">
  <app-public-header></app-public-header>

  <div class="flex mt-4 mobile-mt-2 main-wrapper">
    <form class="form" (submit)="login($event)">
      <legend class="mb-2">
        <h1 class="h2 mb-2">Login</h1>
        <p>Demo tip: just press "Submit"</p>
      </legend>

      <div class="mb-2">
        <label class="block">Email:</label>
        <input class="input" />
      </div>

      <div class="mb-4">
        <label class="block">Password:</label>
        <input type="password" class="input" />
      </div>

      <div>
        <button cta="primary">Submit</button>
      </div>
    </form>

    <div class="hero-image">
      <img src="assets/other/luggage.png" />
    </div>
  </div>
</main>
