<table class="mb-4 table">
  <thead>
    <tr>
      <th>Booking</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let booking of bookings">
      <td>
        <a cta="tertiary" [routerLink]="['../../..', 'itinerary', booking.id]"
          >{{ booking.provider }} / {{ booking.confirmationNumber }}</a
        >
      </td>
      <td class="centered">
        {{ booking.price | currency: booking.currencyCode }}
      </td>
      <td class="centered">{{ booking.participants.length }}</td>
      <td class="centered">
        {{ getBookingTotal(booking) | currency: booking.currencyCode }}
      </td>
    </tr>
  </tbody>
</table>

<div>
  <span class="bold mr-2">Total: </span>
  <span>{{
    getAllBookingsTotal(bookings) | currency: bookings[0]?.currencyCode
  }}</span>
</div>
