<main class="centered-content padded-container">
  <app-authenticated-header></app-authenticated-header>

  <header class="mb-2 mt-1">
    <span>
      <a routerLink="../../../../" cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">Sharing center</a>
    </span>
  </header>

  <article *ngIf="booking$ | async as booking">
    <app-share-settings
      class="block mb-3"
      [link]="link"
      [emails]="(participantEmails$ | async) || []"
      (makeLink)="handleSave(booking)"
      (shareLink)="handleShare($event, booking)"
    ></app-share-settings>
    <app-booking-visualization
      [booking]="(booking$ | async) || undefined"
      [participants]="(participants$ | async) || []"
    ></app-booking-visualization>
  </article>
</main>
