<main class="centered-content padded-container">
  <app-authenticated-header></app-authenticated-header>

  <header class="mb-2 mt-1">
    <span>
      <a routerLink="../../../../" cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../../" cta="tertiary">Sharing center</a>
    </span>
  </header>

  <article>
    <p>Send an email with detailed booking information</p>
  </article>
</main>
