<main
  class="centered-content padded-container"
  *ngIf="participant$ | async as participant"
>
  <app-public-header></app-public-header>

  <header *ngIf="sharedItem" class="mb-3 mt-3 mobile-ml-1 mobile-mr-1">
    <span class="flex align-center mb-1">
      <h1 class="h3">
        {{ participant.firstName }} {{ participant.lastName }}
      </h1>
      <span class="ml-1 badge">Itinerary</span>
    </span>

    <span>Created at: {{ sharedItem.createdAt | date }}</span>
  </header>

  <div *ngFor="let group of bookingGroups$ | async" class="card mb-3">
    <div class="date-badge mb-2">
      <span>{{ group.date | date }} </span>
      <span class="ml-3"
        >{{ group.bookings.length }}
        {{ group.bookings.length > 1 ? "bookings" : "booking" }}</span
      >
    </div>

    <app-booking-visualization
      *ngFor="let booking of group.bookings"
      [booking]="booking"
      [participants]="(getBookingParticipants(booking) | async) || []"
    >
    </app-booking-visualization>
  </div>
</main>
