<main class="centered-content padded-content">
  <app-authenticated-header></app-authenticated-header>

  <header class="mb-3 mt-1">
    <span>
      <a routerLink="../../" cta="tertiary"> Dashboard </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">{{
        (activeProject$ | async)?.name
      }}</a>
    </span>
  </header>

  <article>
    <p class="mb-2">Keeps a list of sent emails</p>
    <p>And also a list of upcoming automatic emails</p>
  </article>
</main>
