<main
  *ngIf="activeProject$ | async as project"
  class="centered-content padded-desktop-container"
>
  <app-authenticated-header> </app-authenticated-header>
  <header class="mb-2 flex align-center">
    <span>
      <a routerLink="../.." cta="tertiary" class="align-center">
        <svg-icon key="back" class="mr-1"></svg-icon>

        <span>Projects</span>
      </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">{{ project.name }}</a>
    </span>
  </header>

  <article>
    <h1 class="mb-2 h2">Itinerary for {{ project.name }}</h1>

    <app-booking-list
      [bookings]="(bookingGroups$ | async) || []"
    ></app-booking-list>
  </article>
</main>
