<main
  *ngIf="activeProject$ | async as project"
  class="centered-content padded-container"
>
  <app-authenticated-header> </app-authenticated-header>
  <header class="mb-2 flex align-center wrap">
    <span>
      <a routerLink="../.." cta="tertiary" class="align-center">
        <svg-icon key="back" class="mr-1"></svg-icon>

        <span>Projects</span>
      </a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <span>
      <a routerLink="../" cta="tertiary">{{ project.name }}</a>
    </span>

    <span class="ml-1 mr-1"> / </span>

    <h1 class="ml-1 h5">
      <span class="bold"> {{ project.name }} itinerary </span>
    </h1>
  </header>

  <article>
    <header class="flex space-between mb-2 align-center">
      <div>
        <app-booking-filters [participants]="participants$"></app-booking-filters>
      </div>
      <div>
        <button cta="outlined">Price summary</button>
      </div>
    </header>
    <app-booking-list
      [bookings]="(bookingGroups$ | async) || []"
    ></app-booking-list>
  </article>
</main>
