<ng-container *ngIf="participant$ | async as participant">
  <div class="wrap card-container mobile-ml-1 mobile-mr-1">
    <section>
      <div class="mb-2 flex align-center wrap">
        <span class="bold">Email:</span>
        <a class="ml-2 mobile-mr-2" [href]="'mailto:' + participant.email">{{
          participant.email
        }}</a>
        <button
          (click)="onCopy('Email')"
          [cdkCopyToClipboard]="participant.email"
          class="ghost-button ml-2 mobile-ml-0 inline-flex align-center"
        >
          <svg-icon key="copy" class="mr-1"></svg-icon>
          <span>Copy</span>
        </button>
      </div>

      <div *ngIf="participant.phone" class="flex align-center wrap">
        <span class="bold">Phone:</span>
        <a class="ml-2 mobile-mr-2" [href]="'tel:' + participant.phone"
          >Call {{ participant.phone }}</a
        >
        <button
          (click)="onCopy('Phone')"
          [cdkCopyToClipboard]="participant.phone"
          class="ghost-button ml-2 mobile-ml-0 inline-flex align-center"
        >
          <svg-icon key="copy" class="mr-1"></svg-icon>
          <span>Copy</span>
        </button>
      </div>
    </section>

    <section class="ml-4 mobile-ml-0">
      <div class="flex align-center wrap">
        <span class="bold">Passport number:</span>
        <span class="ml-2 mobile-mr-2">{{ participant.passportNumber }}</span>
        <button
          (click)="onCopy('Passport number')"
          [cdkCopyToClipboard]="participant.passportNumber"
          class="ghost-button ml-2 mobile-ml-0 inline-flex align-center"
        >
          <svg-icon key="copy" class="mr-1"></svg-icon>
          <span>Copy</span>
        </button>
      </div>
    </section>
  </div>
</ng-container>
