<article class="centered-content padded-container">
  <app-authenticated-header class="mb-2"></app-authenticated-header>

  <div class="mb-2 mt-1 mobile-mb-1 main-heading flex align-center">
    <svg-icon key="notes" size="lg"class="projects-icon"></svg-icon>
    <h1 class="h2 ml-1">Projects</h1>
  </div>

  <section class="mb-4">
    <h2 class="mb-2 h4 heading">Active</h2>
    <div class="card-container wrap">
      <div *ngFor="let project of activeProjects$ | async" class="card">
        <h2 class="h5 mb-1">{{ project.name }}</h2>
        <div class="mb-1 small-text italic">
          <span>{{ project.start | date }}</span> -
          <span>{{ project.end | date }}</span>
        </div>
        <div>
          <a [routerLink]="[project.id]" cta="tertiary">Open</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="mb-2 h4 heading">Past</h2>
    <div class="card-container wrap">
      <div *ngFor="let project of pastProjects$ | async" class="card">
        <h2 class="h5 mb-1">{{ project.name }}</h2>
        <div class="mb-1 small-text italic">
          <span>{{ project.start | date }}</span> -
          <span>{{ project.end | date }}</span>
        </div>
        <div>
          <a [routerLink]="[project.id]" cta="tertiary">Open</a>
        </div>
      </div>
    </div>
  </section>
</article>
