$screen-size1: 48em; /* 768 */
$screen-size2: 64em; /* 1024 */
$screen-size3: 120em; /* 1920 */

@mixin phone {
  @media (max-width: $screen-size1) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $screen-size2) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $screen-size2) {
    @content;
  }
}

@mixin non-desktop {
  @media (max-width: $screen-size2) {
    @content;
  }
}