@use "sass:math";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "~normalize.css/normalize";

:root {
  --primary-color: #58a77b;
  --primary-transparent-color: rgba(88, 167, 123, 0.6);
  --primary-dark-color: #2c543e;
  --primary-light-color: #cde5d7;

  --secondary-color: #a75884;
  --secondary-transparent-color: rgba(167, 88, 132, 0.6);
  --secondary-dark-color: #542c42;
  --secondary-light-color: #e5cdda;

  --success-color: #99c036;
  --warning-color: #e1a53a;
  --error-color: #c95c4b;
  --info-color: #2fbeb3;

  --neutral-color: #cfd4d1;

  --text-base-size: 1em;
  --font-weight-small: 400;
  --font-weight-big: 600;
  --text-color: #4d4d4d;
  --text-color-on-background: #ffffff;

  --space-1: 0.5em;
  --space-2: 1em;
  --space-3: 2em;
  --space-4: 3em;

  --border-1: 1px;
  --border-2: 2px;
}

/* GENERAL TYPOGRAPHY  */

html {
  font-size: var(--text-base-size);
  @extend .full-container;
}

body {
  line-height: 2;
  font-weight: var(--font-weight-small);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  overflow-y: scroll;
  @extend .full-container;
}

p {
  margin-bottom: 1em;
}

@mixin heading-base {
  font-weight: var(--font-weight-big);
  line-height: 1.3;
  margin: 0;
}

.h1 {
  @include heading-base;
  font-size: 3.052em;
}

.h2 {
  @include heading-base;
  font-size: 2.441em;
}

.h3 {
  @include heading-base;
  font-size: 1.953em;
}

.h4 {
  @include heading-base;
  font-size: 1.563em;
}

.h5 {
  @include heading-base;
  font-size: 1.25em;
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5 {
  @extend .h5;
}

small,
.small-text {
  font-size: 0.8em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.handwritten {
  font-family: "Pacifico", sans-serif;
  font-weight: var(--font-weight-small);

  &.bold {
    font-weight: var(--font-weight-big);
  }
}

/* SPACINGS. mb = margin-bottom, mt = margin-top and so on, similar with paddings */

$sizes: 5;
$margins: "mb", "mt", "ml", "mr", "m";
$paddings: "pb", "pt", "pl", "pr", "p";

@each $marginType in $margins {
  @for $i from 1 through $sizes {
    .#{$marginType}-#{$i} {
      @if ($marginType == "mb") {
        margin-bottom: var(--space-#{$i});
      } @else if ($marginType == "mt") {
        margin-top: var(--space-#{$i});
      } @else if ($marginType == "mr") {
        margin-right: var(--space-#{$i});
      } @else if ($marginType == "ml") {
        margin-left: var(--space-#{$i});
      } @else if ($marginType == "m") {
        margin: var(--space-#{$i});
      }
    }
  }
}

@each $paddingType in $paddings {
  @for $i from 1 through $sizes {
    .#{$paddingType}-#{$i} {
      @if ($paddingType == "pb") {
        padding-bottom: var(--space-#{$i});
      } @else if ($paddingType == "pt") {
        padding-top: var(--space-#{$i});
      } @else if ($paddingType == "pr") {
        padding-right: var(--space-#{$i});
      } @else if ($paddingType == "pl") {
        padding-left: var(--space-#{$i});
      } @else if ($paddingType == "p") {
        padding: var(--space-#{$i});
      }
    }
  }
}

@for $i from 1 through $sizes {
  .gap-#{$i} {
    gap: var(--space-#{$i});
  }
}

/* SUPPORTED DEVICES SIZES AND MEDIA QUERIES */

$screen-size1: 48em; /* 768 */
$screen-size2: 64em; /* 1024 */
$screen-size3: 120em; /* 1920 */

@mixin phone {
  @media (max-width: $screen-size1) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $screen-size2) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $screen-size2) {
    @content;
  }
}

/* GENERAL LAYOUT AND CONTAINERS */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.align-self-end {
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.full-container {
  display: block;
  height: 100%;
}

.centered {
  margin: 0 auto;
}

.centered-content {
  width: 100%;

  @extend .centered;

  @include desktop {
    width: $screen-size2;
  }
}

.padded-content {
  padding: var(--space-2);
}

.card-container {
  display: flex;
  gap: var(--space-2);
}

/* GRID HELPERS .width-1 to .width-12 */

$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .width-#{$i} {
    width: math.div($i, 12) * 100%;
  }
}

/* buttons */

@mixin cta {
  cursor: pointer;
  border: none;
  padding: var(--space-1);

  outline: none;
  text-decoration: none;
  border-radius: 3em;
  transition: all 0.1s ease-in-out;

  min-width: 200px;
  min-height: 3em;

  &.center {
    text-align: center;
  }
}

[cta="primary"] {
  @include cta;

  background-color: var(--primary-color);
  color: var(--text-color-on-background);

  &:hover {
    background-color: var(--primary-dark-color);
    color: var(--text-color-on-background);
  }

  &:focus,
  &.active {
    background-color: var(--primary-color);
    color: var(--text-color-on-background);
    box-shadow: 0 0 0 4px var(--primary-transparent-color);
  }
}

button[cta="outlined"],
a[cta="outlined"] {
  @include cta;
  background-color: white;
  color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);

  &[secondary] {
    color: var(--secondary-color);
    box-shadow: 0 0 0 1px var(--secondary-color);
  }

  &:hover {
    color: var(--text-color-on-background);
    background-color: var(--primary-color);

    &[secondary] {
      background-color: var(--secondary-color);
    }
  }

  &:focus,
  &:active,
  &.active {
    background-color: var(--primary-color);
    color: var(--text-color-on-background);
    box-shadow: 0 0 0 4px var(--primary-transparent-color);

    &[secondary] {
      background-color: var(--secondary-color);
      box-shadow: 0 0 0 4px var(--secondary-transparent-color);
    }
  }
}

a[cta="outlined"] {
  min-height: 2em;
  display: inline-block;
  text-align: center;
}

[cta="tertiary"] {
  cursor: pointer;
  border: none;
  padding: var(--space-1);
  outline: none;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 3em;
  background: none;
  display: inline-flex;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: all 0.1s ease-out;
  }

  &:hover,
  &.active {
    position: relative;
    &::after {
      background-color: var(--secondary-color);
      width: 100%;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--secondary-transparent-color);
    &::after {
      width: 0;
    }
  }
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--text-base);
}

.input {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding: var(--space-1);
  outline: none;
  border-radius: calc(var(--space-1) + var(--space-1) * 2);

  &:hover {
    box-shadow: 0 0 0 1px var(--primary-transparent-color);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--primary-transparent-color);
  }

  &::placeholder {
    color: var(--primary-color);
    font-style: italic;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-color);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary-color);
  }
}

.select {
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;

  min-width: 200px;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: calc(var(--space-2) + var(--space-2) * 2);
  padding: var(--space-2) var(--space-4) var(--space-2) var(--space-2);

  &::-ms-expand {
    display: none;
  }
  &:hover {
    box-shadow: 0 0 0 1px var(--primary-transparent);
  }
  &:focus {
    box-shadow: 0 0 0 3px var(--primary-transparent);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
  }
  option {
    font-weight: normal;
  }

  &:disabled,
  &[aria-disabled="true"] {
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  }
  &:disabled:hover,
  &[aria-disabled="true"] {
    border-color: #aaa;
  }
}

.checkbox {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    border: 1px solid var(--primary-color);
    border-radius: 0.25em;
    position: relative;
    outline: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 1px var(--primary-transparent-color);
    }

    &:focus,
    &.active {
      box-shadow: 0 0 0 3px var(--primary-transparent-color);
    }

    &:checked {
      background-color: var(--primary-color);

      &::after {
        content: "✓";
        font-weight: bold;
        font-size: 1.4em;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  label {
    margin-left: var(--space-1);
    cursor: pointer;
  }
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    position: relative;
    outline: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 1px var(--primary-transparent-color);
    }

    &:focus,
    &.active {
      box-shadow: 0 0 0 3px var(--primary-transparent-color);
    }

    &:checked {
      background-color: var(--primary-color);

      &::after {
        content: "✓";
        font-weight: bold;
        font-size: 1.4em;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  label {
    margin-left: var(--space-1);
    cursor: pointer;
  }
}

/* cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: var(--space-2);
  border-radius: 10px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &.loading {
    width: var(--card-width);
    height: var(--card-height);

    position: relative;
    background-color: #e2e2e2;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
      );
      animation: loading 0.8s infinite;
    }

    h2,
    p,
    div.img {
      background: white;
      border-radius: 10px;
    }

    h2 {
      height: 1em;
    }

    p {
      height: 1.5em;
      margin: 0;
    }

    div.img {
      height: 5em;
      margin: var(--space-2) 0;
    }

    @keyframes loading {
      100% {
        transform: translateX(100%);
      }
    }
  }
}

.tab-controls {
  & > *:not(:last-child) {
    margin-right: var(--space-4);
  }
}

.separator {
  width: 100%;
  height: 1px;

  background-color: var(--primary-color);

  &.secondary {
    background-color: var(--secondary-color);
  }
}

.list {
  margin: 0;
  padding: 0;

  & > * {
    border: 1px solid var(--neutral-color);
    border-radius: var(--space-2);
  }

  & > *:not(:last-child) {
    margin-bottom: var(--space-3);
  }
}

svg-icon {
  display: flex !important;
}

svg-icon.star {
  color: var(--secondary-color);
}
