@import "../../../../breakpoints.scss";

:host {
  display: block;
  overflow: hidden;
  background-color: var(--primary-transparent-color);
  color: var(--text-color-on-background);
  padding: var(--space-2);
  border-radius: var(--space-3);

  @include non-desktop {
    border-radius: 0;
  }
}

.content-area {
  flex-grow: 1;
}

.default-area {
  float: right;
  display: flex;
}

.more-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
