<ul class="list">
  <li *ngFor="let participant of participants$ | async" class="participant">
    <div class="flex wrap">
      <h2 class="h5">{{ participant.firstName }} {{ participant.lastName }}</h2>
      <svg-icon
        key="star"
        class="ml-1 star"
        *ngIf="isFavorite(participant.id) | async"
      ></svg-icon>
    </div>

    <span class="ml-1">
      <a
        cta="outlined"
        [routerLink]="[
          '/projects',
          (activeProject$ | async)?.id,
          'participants',
          participant.id
        ]"
        >Profile</a
      >
    </span>
  </li>
</ul>
